.paragraphs {
    margin: auto;
    width: 55%;

  }
  
  
  /* Responsible for typing effect on h1 tags */


  .header h1 {
    
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .01em; /* Adjust as needed */
    width: fit-content;
  }