.feedback-body{
  align-items: center;
  width: fit-content;
  margin: 0 auto;
    
}



.name {
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px;
  height: 3vh;
  width: 40vw;
}


.email {
  outline: none;
  border: 2px solid black;
  border-radius: 10px;
  margin: 20px;
  height: 3vh;
  width: 40vw;
}


.feedback {
  outline: none;
  border-radius: 10px;
  border: 2px solid black;
  resize: none;
  margin: 20px;
  width: 40vw;
  
}

.submit-feedback{
  
  margin: auto;
  min-width: fit-content;
  width: 20%;
  height: 2rem;
  background-color: white;
  display: block;

  border-radius: 10px;
  border: 2px solid black;
  
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.submit-feedback:hover {
  background-color: #e31836;
  color: white;
  
  transition-duration: 1s;
}

  .header h1 {
    
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .01em; /* Adjust as needed */
    width: fit-content;
    font-family: "Cairo", sans-serif;
  }


  /*
  The following is for handling the popup
  */

  .modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .modal-component {
    background-color: white;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    padding: 1%;
    height: fit-content;
    width: 40%;
    min-width: min-content;
    border-radius: 10px;
    border: 2px solid rgb(71, 71, 71);
  }

  .button-div {
    display: flex;
    justify-content: flex-end;
  }


  .content-div {
    text-align: center;
  }

  .exit-button, .success-checkmark {
    cursor: pointer;
  }