.feedback-body{
  align-items: center;
  /* border: 2px solid rebeccapurple; */
  width: fit-content;
  margin: 0 auto;
    
}



.name {
  margin: 20px;
  height: 3vh;
  width: 40vw;
}


.email {
  margin: 20px;
  height: 3vh;
  width: 40vw;
}


.feedback {
  resize: none;
  margin: 20px;
  width: 40vw;
  
}

.submit-feedback{
  
  margin: auto;
  min-width: fit-content;
  width: 20%;
  height: 2rem;
  background-color: white;
  display: block;

  border-radius: 10px;
  border: 2px solid black;
  
  font-weight: bold;
  cursor: pointer;
  outline: none;
}




.submit-feedback:hover {
  background-color: #e31836;
  color: white;
  
  transition-duration: 1s;
 
}



  .header h1 {
    
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .01em; /* Adjust as needed */
    width: fit-content;
  }


  .modal-container {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    border: 2px solid green;
    flex-grow: 1;
  }

  .modal-component {
    /* width: 60%;
    border: 2px solid red; */
  }