.courseInformation{
    display: flex;
    flex-direction: column;
}


.expanded-course-info {
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 25px;
    padding: 2rem;
    display: flex;
    width: 65%;
    min-width: min-content;
    flex-direction: column;
    background-color: white;
    transition: all .2s ease-in-out;
    
}

.courseInformation-disclaimer {
    position: absolute;
	bottom: 0;
	left: 0;
    margin: 25px;
    font-size: smaller;

}


.courseInformation-header {
    text-align: center;
    font-family: "Cairo", sans-serif;
}

#established {
    font-weight: 400;
}

.courseDetail-title {
    font-weight: bold;
}

.button-div {
    display: flex;
    justify-content: flex-end;
  }