.col{
    justify-content: space-evenly; 
}

.container {
    width: 80%;
    border-top: 1px solid #D9D9DB;
}

.main-footer {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.col-sm {
    text-align: center
}

.footer-links {
    text-decoration: none;
    color: black;
}

.footer-links:hover {
    text-decoration: underline;
    
}