.about-paragraphs {
    margin: auto;
    width: 55%;
  }


  .about-header h1 {
    
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .01em; /* Adjust as needed */
    width: fit-content;
    font-family: "Cairo", sans-serif;
  }

  .about-paragraphs h1 {
    font-family: "Cairo", sans-serif;
    font-weight: 800;
  }


  .about-paragraphs h1, p{
    text-align: center;
  }

  .about-paragraphs p {
    font-weight: 400;
  }