.courseInformation{
    display: flex;
    flex-direction: column;
    height: 100%;
 
}

.expanded-course-info {
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgb(71, 71, 71);
    margin: 2rem;
    padding: 2rem;
    display: flex;
    width: 65%;
    min-width: min-content;
    min-height: min-content;
    flex-direction: column;
    background-color: white;
    transition: all .2s ease-in-out;
}

.courseInformation-disclaimer {
    display: flex;
    font-size: smaller;
    
}
.courseInformation-header {
    text-align: center;
    font-family: "Cairo", sans-serif;
}

#established {
    font-weight: 400;
}

.courseDetail-title {
    font-weight: bold;
}

.button-div {
    display: flex;
    justify-content: flex-end;
  }