.navbar {
    width: 100%;
    height: fit-content;
    display: flex; 
    background-color: #e31837;
    position: sticky;
    top: 0;
    z-index: 2;
}

.navbar .left-side{
    flex: 90%;
    
}

.navbar .right-side{
    flex: 10%;
    list-style: none;
    padding-right: 3%;
    display: flex;
    
}

.logo{
    padding-top: 10px;
    margin: auto;
    height: 55px;
    padding-left: 10px;
    
}

.navbar-links {
    font-weight: bold;
    color: black;
    padding-left: 20px;
    font-size: large;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-family: "Cairo", sans-serif;
}