
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap{
    display: flex;
    justify-content: center;
    flex: 1;
}

.unknown-404-image {
    width: 100%;
    height: auto;
  
}   

.unknown-404-container {
    margin: auto;
    margin-left: 55%;
}

.modal{
    
}
