
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content-wrap{
    display: flex;
    width: 100vw;

    justify-content: center;
    flex: 1;
}

