
.App {
  margin-top: 5%;
  width: 100%;
  height: 100%;
}

.header {
    font-family: "Cairo", sans-serif;
  }
  
  .courses {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    justify-content: space-evenly;
    

  }


  .search {
    padding-top: 1%;
    padding-bottom: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-bar {
    width: 30%;
    border-radius: 10px;
    height: 25px;
    outline: none;
    border: 2px solid black;
  }


  .search-button {
    margin-left: 10px;
    border-radius: 10px;
    height: 30px;
    width: 75px;
    outline: none;
    border: 2px solid black;
    transition-duration: 1s;
  }

  .search-button:hover {
    cursor: pointer;
    background-color: #e31836;
    
  }


  .course-search-fail-title{
    text-align: center;
  }

  .course-search-fail-message{
    text-align: center;
  }

  
  